@model IEnumerable<Core.Models.Cafe>

@{
    ViewData["Title"] = "Index";
}

<h1>Cafés cadastrados</h1>

<p>
    <a asp-action="Create">Cadastrar Café</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produtor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCafe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regiao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Impressoes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produtor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCafe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Regiao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Impressoes)
                </td>
                <td>
                    <!--- <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>-->
                    <a asp-action="Details" asp-route-id="@item.Id">Comentários</a>
                    <!---<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
                </td>
            </tr>
        }
    </tbody>
</table>
